h1 {
    font-size: 700%;
    text-align: center;
    font-weight: bolder;
}

.container-fluid {
    background-color: rgb(189, 132, 242);
    font-weight: bold;
    text-align: center;
}

.container {
    background-color: #b9f284;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

#formulario {
    background-color: rgb(189, 132, 242);
}